#dashboard{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
    background-color: rgb(61, 30, 8);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
   
}