body {
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#showcase {
  border: 1px;
}

table {
  text-align: left;
}

table .fas {
  margin-right: 10px;
}

.opacity-1 {
  opacity: 0.85;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
