body {
  font-family: 'Titillium Web', sans-serif;
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
}




.player-display-area,
.team-area{
  margin: 40px 0;
  min-height: 500px;
}
.player-display-area{
  padding: 40px 5%;
  border-right: 3px solid white;
}
.team-area{
  padding: 40px 5%;  
}